/* font */
@font-face{font-family: Cako; src: url(../font/Cako-Regular.woff2);}
@font-face{font-family: Beatrice; src: url(../font/Beatrice-SemiBold.woff2);}
@font-face{font-family: Cako-Black; src: url(../font/Cako-Black.woff);}

body{font-family: Cako; font-size: 16px;}

.container{padding: 0 1.25rem;}

/* sec1 */
.sec1{
    position: relative;
    height: 100vh;
    background-color: #3A4638;
    color: #fff;
    padding-top: 1.75rem;
    /* overflow: clip; */
}
.sec1 ul{
    text-transform: uppercase; 
    font-size: 1.75rem;
    display: flex; justify-content: space-between
}

.sec1 .mouth{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* bottom: 0;
    right: 0;
    display: flex; justify-content: center; align-items: center; */
}
.sec1 .mouth img{}

.sec1 .mucha{
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    
}
.sec1 .mucha p{
    box-sizing: border-box;
    font-size: 200px; font-weight: bold;
    text-transform: lowercase;
    white-space: nowrap;
    animation: txtAni 10s linear infinite;
}
@keyframes txtAni{
    0%{transform: translateX(0);}
    100%{transform: translateX(-100%);}
}

/* sec2 */
.sec2{background-color: #E29473; height: 100vh; font-size: 1.5rem;}
.sec2 header{
    display: flex; align-items: center; justify-content: space-between;
    font-family: Beatrice;
    padding: 1.25rem 2.5rem 0;
}
.sec2 .box .box_menu{display: flex; align-items: center; gap: 1.25rem;}
.sec2 .bar{}
.sec2 .bar span{
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    margin-top: 5px;
}
.sec2 .box:hover .bar span:nth-child(2){
    animation: bar 0.3s linear;
}
@keyframes bar{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(180deg);}
}
.sec2 .bar span:last-child{margin-bottom: 5px;}

.sec2 .mucha_logo{
    font-weight: normal;
    font-family: Cako;
    font-weight: bolder;
    font-size: 3rem;
}
.sec2 .menu_Ani{
    position: relative;
}
.sec2 .menu_Ani::after{
    content: "";
    position: absolute; left: 0; bottom: 0;
    width: 0;
    transition: 0.4s;
}
.sec2 .box:hover .menu_Ani::after{
    width: 75px; height: 3px;
    background-color: #000;
}

.sec2 .menu_Ani2{
    position: relative;
}
.sec2 .menu_Ani2::after{
    content: "";
    position: absolute; left: 0; bottom: 0;
    width: 0;
    transition: 0.4s;
}
.sec2 .box2:hover .menu_Ani2::after{
    width: 135px; height: 3px;
    background-color: #000;
}
.mouth svg{width: 500px;}

